useDynLib(IROmiss,.registration = TRUE)
import(mvtnorm, equSA, huge, ncvreg)
importFrom("stats", "rbinom", "rmultinom", "runif")
importFrom("stats", "cov", "median", "na.omit", "pnorm", "qnorm", "rnorm", "sd")
export(GraphIRO, RegICRO, SimGraDat, SimRegDat, YeastIRO, SimRCLM, RCLM)







